.center {
  width: 1000px;
  margin: 2px auto; }
  .center #ltlinknav {
    padding: 6px 20px;
    border-bottom: 1px solid #ddd;
    background: url("http://img02.taobaocdn.com/imgextra/i2/608923/T2vptFXoBMXXXXXXXX_!!608923.png?1338907386556") no-repeat -258px -51px;
    height: 18px; }

.goods-main {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden; }
  .goods-main .g-m-l {
    float: left;
    position: relative; }
    .goods-main .g-m-l .img-box {
      width: 393px;
      height: 393px;
      border-bottom: 1px solid #e4e4e4;
      border-left: 1px solid #e4e4e4;
      border-top: 1px solid #e4e4e4;
      border-right: 1px solid #e4e4e4; }
      .goods-main .g-m-l .img-box span {
        position: absolute;
        left: 0;
        top: 0;
        width: 133px;
        height: 100px;
        background: rgba(200, 200, 200, 0.6);
        display: none; }
      .goods-main .g-m-l .img-box p {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: 0; }
      .goods-main .g-m-l .img-box img {
        width: 393px;
        height: 393px; }
  .goods-main .g-m-r {
    float: left;
    margin-left: 20px;
    width: 380px; }
    .goods-main .g-m-r p {
      padding: 0;
      margin-top: 7px; }
    .goods-main .g-m-r .bigcomm_intro {
      float: right;
      width: 380px;
      overflow: hidden; }
      .goods-main .g-m-r .bigcomm_intro .saleouter {
        padding: 0px 0;
        background: url(/images/dotline.gif) repeat-x 0 bottom; }
    .goods-main .g-m-r #itemPriceDSpan {
      color: #FF0000;
      font-weight: 700;
      font-size: 16px; }
    .goods-main .g-m-r .buyBox {
      width: 526px;
      border: 1px solid #fde1a2;
      background: #fdeecd;
      padding: 10px 0 0 0;
      margin-top: 8px; }
      .goods-main .g-m-r .buyBox .count {
        margin-bottom: 15px;
        padding-top: 0;
        padding-right: 10px;
        padding-bottom: 0;
        padding-left: 10px; }
        .goods-main .g-m-r .buyBox .count label {
          float: left;
          line-height: 15px; }
        .goods-main .g-m-r .buyBox .count .jian {
          background: url("http://img02.taobaocdn.com/imgextra/i2/608923/T2vptFXoBMXXXXXXXX_!!608923.png?1340710508584") repeat-x -43px 0px;
          width: 15px;
          height: 15px;
          float: left;
          display: inline-block;
          margin-right: 5px;
          margin-top: 3px; }
        .goods-main .g-m-r .buyBox .count #iptcount {
          border: 1px solid #DDDDDD;
          color: #008CD7;
          margin: 0 6px;
          padding: 2px;
          text-align: center;
          vertical-align: middle;
          width: 20px;
          float: left;
          font-size: 12px;
          height: 17px; }
        .goods-main .g-m-r .buyBox .count .jia {
          background: url("http://img02.taobaocdn.com/imgextra/i2/608923/T2vptFXoBMXXXXXXXX_!!608923.png?1340710508584") repeat-x -43px -15px;
          width: 15px;
          height: 15px;
          float: left;
          display: inline-block;
          margin-right: 5px;
          margin-top: 3px;
          color: #333; }
      .goods-main .g-m-r .buyBox .buyBtn {
        padding-left: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #fde1a2;
        height: 48px; }
        .goods-main .g-m-r .buyBox .buyBtn .add_cart_action {
          background: url("http://img02.taobaocdn.com/imgextra/i2/608923/T2vptFXoBMXXXXXXXX_!!608923.png?1340710508584") repeat-x 0 -281px;
          width: 156px;
          height: 48px;
          float: left;
          display: inline;
          margin-right: 10px; }

.Magnifier {
  width: 393px;
  height: 393px;
  background: #f99;
  position: absolute;
  left: 393px;
  top: 0;
  display: none;
  overflow: hidden; }
  .Magnifier img {
    position: absolute;
    width: 1179px;
    height: 1179px; }

#twoimg {
  width: 1000px;
  height: 56px;
  margin: 5px auto;
  margin-top: -59px; }
  #twoimg img {
    width: 54px;
    height: 54px;
    float: left;
    border: 1px solid #cccccc; }
  #twoimg #img2 {
    margin-left: 10px; }
  #twoimg #img1 {
    margin-left: 74px; }
  #twoimg .img3 {
    margin-left: 10px;
    width: 54px;
    height: 54px; }

.img-box {
  position: relative; }

.goods-main .g-m-l img.Mimg3 {
  width: 54px;
  height: 54px;
  border: 1px solid #cccccc;
  position: absolute;
  top: 400px;
  left: 8px;
  z-index: 1;
  display: none; }

.g-m-l {
  margin-bottom: 65px; }
